body {
  background-color: rgb(39, 0, 0);
  color: #fff;

  height: 100vh;
  font-family: arial;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 50px auto;
  width: 600px;
}

.gameBoard {
  width: 600px;
  max-height: 600px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;

  &__square {
    box-sizing: border-box;
    background-color: black;
    border: 1px solid rgba(255, 255, 255, 1);
    height: (200px);
    width: (200px);
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.win-notice {
  width: 100vw;
  height: 100vh;
  position: absolute;
  margin: 0;

  top: 0;
  left: 0;
  font-size: 32px;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.5);
}

.playerControls {
  display: block;
  margin: auto;
  width: 50%;
  text-align: center;
}

.playername {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  & input {
    padding: 1rem 2rem;
    font-size: 2rem;
  }
}
